<div class = "container-fluid">

  <div class = "row">
    <div class = "col-md-1"></div>
    <div class = "col-md-4">
      <img class = "about-me-pic" src="images/elizabeth-shealy-circle.png">
    </div>
    <div class = "col-md-1"></div>
    <div class = "col-md-5 about-me-paragraph">
      <h1>About Elizabeth</h1>
      <p>Elizabeth Shealy is a front-end developer and designer currently
      living in Charlotte, NC. She recently completed the Iron Yard's Front
      End Development Program in Durham, NC.</p>
      </br>
      <p>In her spare time, Elizabeth loves eating ice cream, walking around Target,
      and playing with her dog Milo.</p>
      </br>
      <p>She enjoys doing design and development beacause she likes to make things
      pretty. Her goal is to get involved with helping other women get into tech.</p>
      </div>
    <div class = "col-md-1"></div>
  </div>

</div>
