<div class="resume"><h1>Holy shit my resume!</h1></div>


<div class = "container-fluid">

  <div class = "row">
    <div class = "col-md-4">
      <img class = "about-me-pic" src="images/elizpic.png">
    </div>
    <div class = "col-md-2"></div>
    <div class = "col-md-6 about-me-paragraph">
      <h1>Hi, I'm Elizabeth.</h1>
      <br>
      <p>Urbanite. Animal lover. Explorer.</p>
      <br>
      <p>Born in Charlottte, and after seeing the world, I've made it back home. Alumna of Appalachian State University
      and recent graduate of the Iron Yard's Front End Engineering Program.</p>
      </br>
      <p>I strive to create simple, intuitive, and useful web applications. I'm adaptable, always learning,
      and constantly challenging myself to be better.</p>
      <br>
      <a class='nav nav-resume'>View Resume</a>
      <br>
      </div>
  </div>

</div>

<script type="text/javascript">

$(document).ready(function()
{
  $('.nav-resume').click(function(){
  $('.resume').fadeIn();
  console.log("you clicked this shit!");
});

$('.close-button').click(function(){
  $('.resume').fadeOut();
});

});


</script>
