<div class = "container-fluid">
  <div class = "row">
    <div class = "col-md-2"></div>
    <div class = "col-md-8">
      <h1 class = "float-left"> Appointments App </h1>
      <a class = "float-right" href="http://elizabethshealy.github.io/events/">View Site</a>
      <a class = "float-right" href="http://elizabethshealy.github.io/events/">Repo</a>
    </div>
    <div class = "col-md-2"></div>
  </div>
  <div class = "row">
    <div class = "col-md-2"></div>
    <div class = "col-md-8">
      <p> The appointments app was created as an assignment for my Front End Engineering class at The Iron Yard. <p>
    </div>
    <div class = "col-md-2"></div>
  </div>

  <div class = "row">
    <div class = "col-md-2"></div>
    <div class = "col-md-8">
      <div id="image-appt"></div>
    </div>
    <div class = "col-md-2"></div>
  </div>

  <div class = "row space-row">
  </div>

  <div class = "row">
    <div class = "col-md-2"></div>
    <div class = "col-md-8">
      <a href="# ">Back to Portfolio</a>
    </div>
    <div class = "col-md-2"></div>
  </div>



</div>
