<div class = "container-fluid">
  <div class = "row">
    <div class = "col-md-1"></div>
    <div class = "col-md-10">
      <h1 class = "float-left"> Appointments App </h1>
      <a class = "float-left-low" href="http://elizabethshealy.github.io/events/">View Site |</a>
      <a class = "float-left-low" href="https://github.com/elizabethshealy/events/tree/master">Repo</a>
    </div>
    <div class = "col-md-1"></div>
  </div>
  <!-- <div class = "row">
    <div class = "col-md-2"></div>
    <div class = "col-md-8">
      <p> The appointments app was created as an assignment for my Front End Engineering class at The Iron Yard. <p>
    </div>
    <div class = "col-md-2"></div>
  </div> -->

  <div class = "row">
    <div class = "col-md-1"></div>
    <div class = "col-md-6">
      <div id="image-appt"></div>
    </div>
    <div class = "col-md-1"></div>
    <div class = "col-md-3 text-style">
      <p class = "appt-text"> An appointment management system built in jQuery. Users can add, save, edit, and delete appointments. <p>
      <br>
      <ul class = "text-style">Languages:
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
      </ul>
      <br>
      <ul class = "text-style">Frameworks:
        <li>jQuery</li>
        <li>Backbone.js</li>
        <li>Underscore.js</li>
        <li>Parsley.js</li>
        <li>Ajax</li>
      </ul>
      <br>
      <br>
      <br>
      <br>
      <br>
      <!-- <a class = "float-right" href="http://elizabethshealy.github.io/events/">View Site |</a>
      <a class = "float-right" href="https://github.com/elizabethshealy/events/tree/master">Repo</a> -->
    </div>
    <div class = "col-md-1"></div>
  </div>

  <div class = "row space-row">
  </div>

  <div class = "row">
    <div class = "col-md-1"></div>
    <div class = "col-md-10">
      <a class = "nav-back" href="# ">Back to Portfolio</a>
    </div>
    <div class = "col-md-1"></div>
  </div>



</div>
