<div class = "container-fluid">
  <div class = "row">
    <div class = "col-md-12">
      <h1 class = "float-left"> The Forge </h1>
      <a class = "float-left-low" href="http://tiy-forge.herokuapp.com/users/sign_in">View Site |</a>
      <a class = "float-left-low" href="https://github.com/The-Iron-Planet/forge">Repo</a>
    </div>
  </div>
  <!-- <div class = "row">
    <div class = "col-md-2"></div>
    <div class = "col-md-8">
      <p> The appointments app was created as an assignment for my Front End Engineering class at The Iron Yard. <p>
    </div>
    <div class = "col-md-2"></div>
  </div> -->

  <div class = "row">
    <div class = "col-md-7">
      <img class="img-responsive down" src="images/forge-new.png"/>
    </div>
    <div class = "col-md-1"></div>
    <div class = "col-md-4 text-style">
      <p class = "appt-text"> A social application for Iron Yard graduates to network, find jobs, and share resources. Built in Ruby on Rails. <p>
      <br>
      <ul class = "text-style">Languages:
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Ruby on Rails</li>
      </ul>
      <br>
      <ul class = "text-style">Frameworks & Technologies:
        <li>jQuery</li>
        <li>Bootstrap</li>
        <li>SASS</li>
        <li>PostgreSQL</li>
        <li>Rails 12 Factor</li>
        <li>Devise</li>
        <li>Paperclip</li>
        <li>AWS-SDK</li>
        <li>AutoHTML</li>
        <br>
      </ul>
      <!-- <a class = "float-right" href="http://tiy-forge.herokuapp.com/users/sign_in">View Site |</a>
      <a class = "float-right" href="https://github.com/The-Iron-Planet/forge">Repo</a> -->
    </div>
  </div>

  <div class = "row space-row">
  </div>

  <div class = "row">
    <div class = "col-md-12">
      <a class = "nav-back" href="# ">Back to Portfolio</a>
    </div>
  </div>

</div>
