<div class = "container-fluid">

  <div class  = "row header-row">
    <div class = "col-md-1"></div>
    <div class = "col-md-1"></div>
    <div class = "col-md-6"></div>
    <div class = "col-md-3 top-nav">
      <a class = "nav-link" href="#aboutme">About Me
      </a>
      <a class = "nav-link" href="http://www.kyck.com">Contact Me
      </a>
    </div>
    <div class = "col-md-1"></div>
  </div>

  <div class  = "row row-1">
    <div class = "col-md-5"></div>
    <div class = "col-md-2 portfolio-title">
    <h1>Portfolio</h1>
    </div>
    <div class = "col-md-5"></div>
  </div>

  <div class  = "row white-project">
      <div class = "col-md-5">
        <a href="http://tiy-forge.herokuapp.com/users/sign_in">
          <img class = "portfolioimg-second" src="images/iMac-forgenew.jpg">
        </a>
      </div>
      <div class = "col-md-1"></div>
      <div class = "col-md-5 about-project-text">
        <h1> The Forge </h1>
        <p> Built using Rails and Heroku. Also using Boostrap, Jquery, CSS,
          HTML, and a bunch of other crap.
        </p>
      </div>
      <div class = "col-md-1"></div>
  </div>

  <div class  = "row grey-project">
    <div class = "col-md-1"></div>
    <div class = "col-md-5 about-project-text align-left">
      <h1> The Forge </h1>
      <p> Built using Rails and Heroku. Also using Boostrap, Jquery, CSS,
        HTML, and a bunch of other crap.
      </p>
    </div>
    <div class = "col-md-1"></div>
    <div class = "col-md-5">
      <a href="http://tiy-forge.herokuapp.com/users/sign_in">
        <img class = "portfolioimg-second" src="images/iMac-forgenew.jpg">
      </a>
    </div>
  </div>

  <div class = "row contact-me">
    <div class = "col-md-4"></div>
    <div class = "col-md-4">
      <a href="https://github.com/elizabethshealy">
        <span class="icon-bottom-left icon-bottom-right icon-fontawesome-webfont"></span>
      </a>
      <a href="https://www.linkedin.com/pub/elizabeth-shealy/37/612/773">
        <span class="icon-bottom-right icon-instagram"></span>
      </a>
      <a href="https://twitter.com/efshealy">
        <span class="icon-bottom-right icon-twitter-square"></span>
      </a>
      <a href="https://www.linkedin.com/pub/elizabeth-shealy/37/612/773">
        <span class="icon-bottom icon-linkedin"></span>
      </a>
    </div>
    <div class = "col-md-4"></div>
  </div>

  <div class = "row copyright-row">
    <div class = "col-md-4"></div>
    <div class = "col-md-4 copyright">
      <div><span class = 'glyphicon glyphicon-copyright-mark'></span>2015 Elizabeth Shealy</div>
    </div>
    <div class = "col-md-4"></div>
  </div>
</div>
