<div class = "container-fluid">

  <div class="row">
    <div class="col col-md-4">
      <a href="#appts">
        <img class="img-responsive" src="images/events-new.png"/>
      </a>
      <h3>HTML, CSS, jQuery</h3>
    </div>

    <div class="col col-md-4">
      <a href="#forge">
        <img class="img-responsive styling" src="images/forge-new.png"/>
      </a>
      <h3>HTML, CSS, jQuery</h3>
    </div>

    <div class="col col-md-4">
      <a href="#smashingboxes">
        <img class="img-responsive" src="images/smashing.png" />
      </a>
      <h3>HTML, CSS</h3>
    </div>
  </div>

</div>
