<h1>HOME PAGE</h1>

<div class = "container-fluid">
  <div class  = "row header-row">
    <div class = "col-md-1"></div>
    <div class = "col-md-1"></div>
    <div class = "col-md-6"></div>
    <div class = "col-md-3 top-nav">
      <a class = "nav-link" href="#aboutme">About Me
      </a>
      <a class = "nav-link" href="http://www.kyck.com">Contact Me
      </a>

    </div>
    <div class = "col-md-1"></div>
  </div>
  <div class  = "row about-me">
    <div class = "col-md-3"></div>
    <div class = "col-md-6 about-me-text">
    <p>I am a developer. I am a designer. I love to make things. Let's make things together.</p>
    </div>
    <div class = "col-md-3"></div>
  </div>
  <div class  = "row">
    <div class = "col-md-1"></div>
    <div class = "col-md-10">
      <a href="http://tiy-forge.herokuapp.com/users/sign_in">
        <img class = "portfolioimg-second" src="images/forge.png">
      </a>
      <a href="http://www.kyck.com">
        <img class = "portfolioimg-second" src="images/kyck4.png">
      </a>
      <a href="http://www.kyck.com">
        <img class = "portfolioimg-second" src="images/kyck4.png">
      </a>
    </div>
    <div class = "col-md-1"></div>
  </div>
  <div class = "row">
    <div class = "col-md-1"></div>
    <div class = "col-md-10">
      <a href="http://www.kyck.com">
        <img class = "portfolioimg-second" src="images/kyck4.png">
      </a>
      <a href="http://www.kyck.com">
        <img class = "portfolioimg-second" src="images/kyck4.png">
      </a>
      <a href="http://www.kyck.com">
        <img class = "portfolioimg-second" src="images/kyck4.png">
      </a>
    </div>
    <div class = "col-md-1"></div>
  </div>
  <div class = "row contact-me">
  </div>
</div>
