<div class = "container-fluid">
  <div class = "row">
    <div class = "col-md-1"></div>
    <div class = "col-md-10">
      <h1 class = "float-left"> Smashing Boxes Website </h1>
    </div>
    <div class = "col-md-1"></div>
  </div>
  <!-- <div class = "row">
    <div class = "col-md-2"></div>
    <div class = "col-md-8">
      <p> The appointments app was created as an assignment for my Front End Engineering class at The Iron Yard. <p>
    </div>
    <div class = "col-md-2"></div>
  </div> -->

  <div class = "row">
    <div class = "col-md-1"></div>
    <div class = "col-md-6">
      <div id="image-sboxes2"></div>
    </div>
    <div class = "col-md-1"></div>
    <div class = "col-md-3 text-style">
      <p class = "appt-text"> A remake of the Academy at Smashing Boxes website. This was the first project that I completed for the Iron Yard. <p>
      <br>
      <ul class = "text-style">Languages:
        <li>HTML</li>
        <li>CSS</li>
        <li>jQuery</li>
      </ul>
      <br>
      <ul class = "text-style">Other Technologies:
        <li>Gulp</li>
      </ul>
      <br>
      <a class = "float-right" href="http://elizabethshealy.github.io/events/">View Site</a>
      <a class = "float-right" href="http://elizabethshealy.github.io/events/">Repo</a>
    </div>
    <div class = "col-md-1"></div>
  </div>

  <div class = "row space-row">
  </div>

  <div class = "row">
    <div class = "col-md-1"></div>
    <div class = "col-md-10">
      <a class = "nav-back" href="# ">Back to Portfolio</a>
    </div>
    <div class = "col-md-1"></div>
  </div>



</div>
