.about-me-paragraph {
  margin-top: 80px;
}

.about-me-paragraph p {
  font-family: 'Cardo', serif;
  font-size: 95%;
  // line-height: 160%;
}

.about-me-pic {
  display: inline-block;
  margin-top: 80px;
  margin-left: 28px;
  margin-right: 28px;
  text-align: center;
}
