.about-me-paragraph {
  margin-top: 60px;
}

.about-me-paragraph p {
  font-family: 'Lora', serif;
  font-size: 16px;
  color: grey;
  line-height: 160%;
}

.about-me-pic {
  display: inline-block;
  margin-top: 80px;
  margin-left: 28px;
  margin-right: 28px;
  text-align: center;
}
