.about-me-paragraph {
  margin-top: 80px;
}

.about-me-paragraph p {
  font-family: 'Cardo', serif;
  font-size: 95%;
  // line-height: 160%;
}

.about-me-pic {
  display: inline-block;
  margin-top: 80px;
  margin-left: 28px;
  margin-right: 28px;
  text-align: center;
}

.resume {
  height:575px;
  width:90%;
  display:none;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 69px -6px rgba(0,0,0,0.75);
}
