// .float-right {
//   display: inline-block;
//   float: right;
//   padding: 20px;
//   margin-top: 7px;
// }

.float-left {
  margin-top: 60px;
  float:left;
}


#image {
  display: inline-block;
  margin-top: 80px;
  text-align: center;
  width: 600px;
  height: 350px;
  box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  background-size:cover;
  // border-radius:5px;
  overflow:hidden;
}


#image-appt{
  @extend #image;
  background:url(/images/events.png) no-repeat;
}

.appt-text {
  margin-top: 80px;
  font-family: 'Cardo', serif;
}

ul {
  font-family: 'Cardo', serif;
}
