.container {
  width: 80%;
  // display: block;
  // margin-left: 0 auto;
  // margin-right: 0 auto;
}


// .other-nav {
//   background-color: pink;
// }

.header-row {
  height: 150px;
  // background-color: #F7F7F7;
}

.top-nav {
  margin-top: 66px;
  // background-color:red;
}

.nav-link {
  display: inline-block;
  margin-left: 30px;
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 95%;
  text-transform: uppercase;
  color: #050505;
  // background-color: green;
}

.boxes-text {
  position: absolute;
}

//
// hr.break {
//   width: 97%;
// }


// p {
//   color: #6e6e6e;
// }
//
// .text-style {
//   color: #6e6e6e;
// }



.about-me {
  height: 450px;
  background-color: #354458;
}

.about-me-text {
  margin-top: 50px;
}

// .about-me p {
//   font-size: 50px;
//   color: white;
//   font-family: 'Cardo', serif;
// }

.row-1 {
  height: 75px;
}

.portfolioimg {
  display: block;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

}

.portfolioimg-second {
  display: inline-block;
  margin-top: 80px;
  margin-left: 28px;
  margin-right: 28px;
  text-align: center;
}

.portfolioimg-second:hover {
  background-color: pink;
}

.contact-me {
  margin-top: 80px;
  height: 65px;
}

.about-project-text {
  text-align: left;
  margin-top: 100px;
}

.portfolio-title {
  margin-top: 50px;
}



// .icon-bottom-left {
//   margin-left: 50px;
// }

// .icon-bottom-right {
//   letter-spacing: 30px;
// }


.grey-project {
  height: 500px;
  background-color: lightgrey;
}

.white-project {
  height: 500px;
}

.white-project img {
  float: left;
}

.grey-project img {
  float: right;
}


h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 120%;
}

p {
  font-family: 'Cardo', serif;
}

.caption {
  background-color: green;
  width: 200px;
  margin-left: 2%;
}

// .cover-box {
//   background-color: red;
// }

.portfolioimg-second:hover {
  display: none;
}

#box {
  display: inline-block;
  margin-top: 80px;
  text-align: center;
  width: 275px;
  height:200px;
  box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  background-size:cover;
  border-spacing: 20px;
  // border-radius:5px;
  overflow:hidden;
}


#box-forge {
  @extend #box;
  background:url(/images/forgescreen.png);
  margin: auto;
}

#box-appts {
  @extend #box;
  background:url(/images/events-sm.png);
}

#box-boxes {
  @extend #box;
  background:url(/images/smashing1.png);
  // position: absolute;
  // right: 0px;
  // float: right;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.link {
  z-index: 5;
}

.space-row {
  height: 30px;
}

.es-logo {
  margin-top: 45px;
}

hr {
  width: 80%;
}

a:hover {
  text-decoration: none;
}

.icon-bottom, .icon-bottom-right {
  display: inline-block;
  // margin: 0 auto;
  // width: 1000px;
  font-family: untitled-font-1;
  font-size: 1.75em;
  padding: 0 25px;
  // margin-left: 6px;
  color: #050505;
  z-index: 1;
  text-align: center;
}

.copyright {
  color: #050505;
  font-family: 'Cardo', serif;
  text-align: center;
}

.glyphicon {
  letter-spacing: 3px;
}

.copyright-row {
  height: 100px;
}

.icons {
  text-align: center;
}

.boxes-text {
  background-color: green;
  caption: display;
  caption-side: bottom;
}

.down {
  margin-top: 80px;
}

.styling {
  box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  color: red;
}

.space {
  margin-top: 60px;
}



// div.box-right h3 {
//   display: table-caption;
//   caption-side: bottom;
//   // float: right;
// }



//
// .row {
//   margin-left: 0;
//   margin-right: 0;
// }

// .push-right {
//   margin-left: 15px;
// }

// .middle-row {
//   display: block;
//   max-width: 100%;
//   margin: auto;
// }

// .box-right {
//   float: right;
// }
